<%= render 'tech_radar/nav' %>

<h2><%= t('label_tech_radar') %></h2>

<%= form_with url: tech_radar_path, method: :get, local: true do |f| %>
  <%= f.label :user_id, t('tech_radar.evaluation.filter.user_label') %>
  <%= f.select :user_id,
               @users.pluck(:login, :id),
               { include_blank: t('tech_radar.evaluation.filter.all_users'), selected: @user_id },
               onchange: 'this.form.requestSubmit()' %>
<% end %>

<%= form_with url: tech_radar_path, method: :get, local: true do |f| %>
  <%= f.label :technology_id, t('tech_radar.evaluation.filter.technology_label') %>
  <%= f.select :technology_id,
               @technologies.pluck(:name, :id),
               { include_blank: t('tech_radar.evaluation.filter.all_technologies'), selected: @technology_id },
               onchange: 'this.form.requestSubmit()' %>
<% end %>

<% can_ticks = TechRadar::Rating.can_levels.keys.map { |key| t("tech_radar.rate.can.#{key}") } %>
<% want_ticks = TechRadar::Rating.want_levels.keys.map { |key| t("tech_radar.rate.want.#{key}") } %>
<div class="tech-radar-evaluation">
  <canvas data-controller="scatter-chart"
          data-scatter-chart-points-value="<%= @points.to_json %>"
          data-scatter-chart-can-label-value="<%= t('tech_radar.evaluation.can_axis') %>"
          data-scatter-chart-want-label-value="<%= t('tech_radar.evaluation.want_axis') %>"
          data-scatter-chart-can-ticks-value="<%= can_ticks.to_json %>"
          data-scatter-chart-want-ticks-value="<%= want_ticks.to_json %>"></canvas>
</div>
