<% if @technology %>
  <div class="tech-radar-card">
    <h2><%= @technology.name %></h2>

    <%= form_with url: tech_radar_rating_path, method: :patch do |f| %>
      <fieldset class="tech-radar-card-can">
        <legend>Can</legend>
        <% TechRadar::Rating.can_levels.each_key do |key| %>
          <label>
            <%= f.radio_button 'rating[can_level]', key,
                               checked: @rating&.can_level == key %>
            <%= key.humanize %>
          </label>
        <% end %>
      </fieldset>

      <fieldset class="tech-radar-card-want">
        <legend>Want</legend>
        <% TechRadar::Rating.want_levels.each_key do |key| %>
          <label>
            <%= f.radio_button 'rating[want_level]', key,
                               checked: @rating&.want_level == key %>
            <%= key.humanize %>
          </label>
        <% end %>
      </fieldset>

      <%= f.submit 'Save', name: 'commit' %>
    <% end %>

    <%= button_to 'Skip', skip_tech_radar_rating_path, method: :post %>
    <%= button_to 'Back', back_tech_radar_rating_path, method: :post %>
  </div>
<% else %>
  <div class="tech-radar-card-done">
    <p>You've rated every technology. Thanks!</p>
  </div>
<% end %>
